beautifulsoup4
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
fake-useragent
fonttools
idna
kiwisolver
matplotlib
opencv-python
packaging
pillow
pycparser
pyOpenSSL
pyparsing
PySide2
pytesseract
python-dateutil
python-dotenv
reedsolo
requests
shiboken2
six
soupsieve
tqdm
urllib3